<app-navbar [sidenav]="sidenav" page="Scores">
  <app-puzzle-selector></app-puzzle-selector>
</app-navbar>

<app-sidenav #sidenav activePage="scores">
  <div class="container">
    <mat-spinner *ngIf="loading$ | async; else content"></mat-spinner>

    <ng-template #content>
      <div *ngIf="scores$ | async as scores">
        <app-scores [scores]="scores" *ngIf="scores.length > 0; else empty"></app-scores>
        <ng-template #empty>
          <mat-card style="text-align: center">
            <mat-card-title>Get started</mat-card-title>
            <mat-card-content>
              It seems you don't have any scores yet for this puzzle. Go to the timer page with the navigation menu or simply use
              this handy button here.
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" routerLink="../timer">Timer</a>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </div>
    </ng-template>
  </div>
</app-sidenav>
