@import "../../../../../theme";

.mat-list-item:hover {
  background: mat-color($app-theme-background, hover);
}

.elevation {
  border-radius: 4px;
}

@media only screen and (min-width: 601px) {
  .actions {
    display: none;
  }

  .mat-list-item:hover .actions {
    display: block;
  }
}
