<app-navbar [sidenav]="sidenav" page="Settings"></app-navbar>

<app-sidenav #sidenav activePage="settings">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <form>
          <mat-form-field floatLabel="never">
            <mat-select placeholder="Language">
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field floatLabel="never">
            <mat-select placeholder="Inspection Time">
              <mat-option *ngFor="let inspectionTime of inspectionTimes" [value]="inspectionTime">
                {inspectionTime, plural, =0 {None} other {{{inspectionTime}} seconds}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-checkbox>Play sound after inspection</mat-checkbox>
          </div>

          <div>
            <mat-checkbox>Show (sub X) labels</mat-checkbox>
          </div>

          <mat-form-field floatLabel="never">
            <input matInput placeholder="Chart entries" value="100" type="number">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</app-sidenav>
