<ng-container *ngIf="user$() | async as state">
  <a
    mat-icon-button
    *ngIf="state.user === null"
    matTooltip="Login"
    routerLink="/login"
  >
    <mat-icon>account_circle</mat-icon>
  </a>
  <ng-container *ngIf="state.user !== null">
    <button
      mat-icon-button
      [matMenuTriggerFor]="userMenu">
      <img
        *ngIf="state.user.photoURL"
        class="icon"
        [src]="state.user.photoURL">
      <mat-icon *ngIf="!state.user.photoURL">account_circle</mat-icon>
    </button>
    <mat-menu
      #userMenu="matMenu"
      class="auth"
      xPosition="before"
      overlapTrigger="false">
      <div class="info">
        <img
          *ngIf="state.user.photoURL"
          class="user-image"
          [src]="state.user.photoURL">
        <mat-icon
          *ngIf="!state.user.photoURL"
          class="user-image">account_circle</mat-icon>
        <div class="user">
          <h6 class="name">{{state.user.displayName}}</h6>
          <div class="email">{{state.user.email}}</div>
        </div>
      </div>
      <button
        mat-button
        class="sign-out"
        (click)="signOut()">
        Sign out
      </button>
    </mat-menu>
  </ng-container>
</ng-container>
