<mat-card class="card-accented">
  <mat-card-header>
    <mat-card-title>{{activePuzzle$ | async}}</mat-card-title>
    <mat-card-subtitle>Scramble: R D2 R L' D2 L' B2 R2 U D L F' B' D L2 B U D' L' F2 B' U2 D2 B' L</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-form-field floatLabel="never">
      <input type="text" matInput placeholder="00:00.00" [(ngModel)]="duration">
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="onSave()">Start</button>
  </mat-card-actions>
</mat-card>
