<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z5" style="z-index: 2">
    <button
      mat-icon-button
      *ngIf="sidenav"
      (click)="sidenav.toggle()"
      class="burger">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/" class="logo">
      <mat-icon>timer</mat-icon>
      Cube Timer
    </a>
    <span *ngIf="page" class="page">{{page}}</span>
    <ng-content></ng-content>
    <div class="flex-spacer"></div>
    <app-auth *ngIf="auth"></app-auth>
  </mat-toolbar-row>
</mat-toolbar>
