mat-toolbar-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.logo {
  font-size: 20px;
  display: none;
}

a,
.page {
  font-weight: 400;
}

.page {
  padding: 0 12px;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width: 600px) {
  .burger {
    margin: 0 12px;
  }

  .logo,
  .logo-text {
    display: initial;
  }

  .page {
    margin-left: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}
