/*
 * Media query for medium screens
 */
@media only screen and (min-width: 600px) {
  .main-container,
  .mat-sidenav-container.main-container {
    top: 64px;
  }

  .container {
    padding: 16px;
    margin: 0 auto;
    width: 85%;
  }

  .container.narrow {
    width: 65%;
    max-width: 480px;
  }

  .mat-card {
    margin-top: 16px;
  }

  .mat-list.hoverable .actions {
    display: none;
  }

  .mat-list.hoverable .mat-list-item:hover .actions {
    display: block;
  }
}

/*
 * Media query for large screens
 */
@media screen and (min-width: 992px) {
  .container {
    width: 90%;
    max-width: 640px;
    padding: 16px 0;
  }

  .container.narrow {
    width: 70%;
  }
}

/*
 * Media query for extra large screens
 */
@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }

  .container.narrow {
    width: 50%;
  }

  .mat-drawer {
    background-color: transparent;
  }
  .mat-drawer.mat-sidenav:not(.mat-drawer-side) {
    box-shadow: none;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    display: none;
  }
}
