@import 'theme';
@import 'mixins';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  padding: 0 8px;
}

.mat-drawer {
  padding: 8px;
}

.main-container,
.mat-sidenav-container.main-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-card {
  margin-top: 8px;
}

.mat-card.card-accented {
  padding-top: 0;
}

.card-accented .mat-card-header {
  background-color: mat-color($app-primary, 700);
  border-radius: 2px 2px 0 0;
  margin: -24px -16px 0 -16px;
  padding: 16px 16px 0 16px;
}

.card-accented .mat-card-title {
  font-size: 24px;
}

.card-accented .mat-card-title,
.card-accented .mat-card-subtitle {
  color: $light-primary-text;
}

app-timer .mat-form-field-infix {
  font-size: 50px;
}
app-timer .mat-form-field-label-wrapper,
app-timer .mat-input-element {
  text-align: center;
}

.mat-list.hoverable .mat-list-item:hover {
  background: mat-color($app-theme-background, hover);
}

.elevation {
  @include elevation-2();
}
