<app-navbar [sidenav]="sidenav" page="Puzzles">
  <app-puzzle-selector></app-puzzle-selector>
</app-navbar>

<app-sidenav #sidenav activePage="puzzles">
  <div class="container">
    <mat-nav-list class="hoverable" *ngIf="puzzles$ | async as puzzles">
      <div class="elevation">
        <a mat-list-item
           *ngFor="let puzzle of puzzles"
           routerLink="/puzzles/{{puzzle.name}}/timer"
           [class.active]="(puzzle$ | async)?.name === puzzle.name">
          <mat-icon mat-list-icon>games</mat-icon>
          <h4 mat-line>{{puzzle.name}}</h4>
          <p mat-line>
            <span *ngIf="puzzle.lastActive" title="{{puzzle.lastActive | date:'full'}}">
              {{puzzle.lastActive | amTimeAgo}}
            </span>
            <span *ngIf="!puzzle.lastActive">Unchallenged</span>
            <span *ngIf="(puzzle$ | async) === puzzle.name">, {{scoreCount$ | async}} scores</span>
          </p>
          <div class="actions">
            <button mat-icon-button (click)="onDelete(puzzle)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </div>
</app-sidenav>
