@import '../../../../theme';

.mat-nav-list .mat-list-item.active:not(:hover) {
  background: mat-color($app-primary);
  color: $light-primary-text;
}

.mat-nav-list .mat-list-item.active:hover {
  background: mat-color($app-theme-background, hover);
}
